@{
    ViewBag.Title = "OrganizationForm";
}
<style>
    .button1 {
        background: #f2f6f8 repeat-x;
        border: 1px solid #b3daf4;
        line-height: 25px;
        vertical-align: middle;
        height: 25px;
    }
</style>

<div id="dd2">
    <form id="ff" method="post">
        <input type="hidden" id="POrganizationID" name="POrganizationID"/>
        <div style="height: 200px">
            
            <table cellpadding="0" cellspacing="1px" border="0" style="width: 100%; height: 100%" bgcolor="b5d6e6">
                <tr style="background-color: White; height: 32px;">
                    <td style="width: 130px; padding-left: 5px; text-align: right">名称：</td>
                    <td style="padding: 5px;">
                        <input type="text" id="Name" name="Name" style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /></td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">类型：</td>
                    <td style="padding: 5px">
                        <input type="radio" value="organization" name="OrgType">单位
                        <input type="radio" value="department"  name="OrgType">部门
                        <input type="radio" value="post"  name="OrgType" checked="checked">岗位
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">状态：</td>
                    <td style="padding: 5px">
                        <input type="radio" value=true name="InUse" checked="checked">启用
                        <input type="radio" value=false name="InUse" >停用
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">分管领导：</td>
                    <td style="padding: 5px;">
                        @*  <input type="text" id="Leader1" name="Leader1" readonly style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /><input type="button" class="button1" style="border-left: none; margin: 0;" onclick="chooseLeader1()" value="选择">*@
                        @Html.Partial("_ChooseBox", new { ID="ChargeLeaderID",Name="ChargeLeaderID",Type="user"})
                    </td>
                </tr>
                <tr style="background-color: White; height: 32px;">
                    <td style="padding: 5px; text-align: right">部门/岗位领导：</td>
                    <td style="padding: 5px;">
                        @*<input type="text" id="Leader2" name="Leader2" readonly style="border: 1px solid #8DB2E3; width: 200px; height: 20px" /><input type="button" class="button1" style="border-left: none; margin: 0;" onclick="chooseLeader2()" value="选择">*@
                        @Html.Partial("_ChooseBox", new { ID="LeaderID",Name="LeaderID",Type="user"})
                    </td>
                </tr>
                <tr style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right">备注：</td>
                    <td style="padding: 5px">
                        <textarea rows="3" id="Remark" name="Remark" style="width: 280px; border: 1px solid #8DB2E3;"></textarea>
                    </td>
                </tr>
                <tr id="deptmove_tr" style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right">移动：</td>
                    <td style="padding: 5px">
                        @Html.Partial("_ChooseBox", new { ID="chooseDepartment",Name="chooseDepartment",Type="department,organization"})
                        <input type="button" class="button1" style="margin-left: 5px;" onclick="ConfirmMove()" value="确定移动">
                    </td>
                </tr>
                <tr  style="background-color: White; height: 50px;">
                    <td style="padding: 5px; text-align: right" colspan="2">
                      
                        <span>
                            <input type="button" class="button1" style="margin: 5px;" onclick="window.location='OrganizationAdd'+'@Html.Raw(Request.Url.Query)    ';"  value="增加单位/部门/岗位"></span>
                        <span>
                            <input type="button" class="button1" style="margin: 5px;" onclick="window.location='UserAdd'+'@Html.Raw(Request.Url.Query)    ';" value="增加人员"></span>
                        <span>
                            <input type="button" class="button1" style="margin: 5px;" onclick="$('#deptmove_tr').toggle();" value="移动"></span>
                        <span>
                            <input type="button" class="button1" style="margin: 5px;" onclick="Save()" value="保存"></span>
                        <span>
                            <input type="button" class="button1" style="margin: 5px;" onclick="return confirm('您真的要删除该机构及其下级机构吗?');" value="删除"></span>
                       

                    </td>

                </tr>

            </table>
        </div>






    </form>

</div>



<script type="text/javascript">
    var type = "@Request["type"]";
    var ID = "@Request["id"]";

   

    $(function() {
        $("#deptmove_tr").hide();
        //加载form数据
        $.ajax({
            url: '/Api/Organization/' + ID,
            type: 'Get',
            success: function (data) {
                $("#Name").val(data.Name);
                RadioGroupCheck("OrgType", data.OrgType);
                RadioGroupCheck("InUse", ""+data.InUse);
                $("#ChargeLeaderID").attr("ids",data.ChargeLeaderIDs);
                $("#ChargeLeaderID").val(data.ChargeLeaderNames);
                $("#LeaderID").attr("ids",data.ChargeLeaderIDs);
                $("#LeaderID").val(data.ChargeLeaderNames);
                $("#Remark").val(data.Remark);
                $("#POrganizationID").val(data.POrganizationID);
            }
        });
    })

    function Save() {
        if ($('#ff').form('validate')) {
            $.ajax({
                url: '/Api/Organization/' + ID,
                type: 'PUT',
                data: {
                    Name:$("#Name").val(),
                    OrgType:GetRadioGroupChecked("OrgType"),
                    InUse:GetRadioGroupChecked("InUse"),
                    ChargeLeaderIDs: $("#ChargeLeaderID").attr("ids"),
                    ChargeLeaderNames: $("#ChargeLeaderID").val(),
                    LeaderIDs:$("#LeaderID").attr("ids"),
                    LeaderNames:$("#LeaderID").val(),
                    Remark:$("#Remark").val(),
                    POrganizationID:$("#POrganizationID").val()
                },
                success: function (data) {
                    $.messager.alert('提示', data.message,'info',function(){
                        parent.location.reload();
                    });
                  
                }
            });
           
        }
    }
   
    function ConfirmMove() {
        var orgid = $("#chooseDepartment").attr("ids");
        orgid = orgid.substring(0, orgid.indexOf(','));
        $.ajax({
            url: '/Api/Organization/PutMoveDepartMent?id=' + ID+"&orgid="+orgid,
            type: 'PUT',
            success: function (data) {
                $.messager.alert('提示', data.message,'info',function(){
                    parent.location.reload();
                });
            }
        });
    }
</script>
