<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Table.css")" rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/EasyUI/themes/default/easyui.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/EasyUI/themes/icon.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/EasyUI/demo/demo.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/EasyUI/jquery-1.8.0.min.js")'></script>
    <script src='@Url.Content("~/Scripts/EasyUI/jquery.easyui.min.js")'></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    <style type="text/css">
           body
            {
                font-size:12px;
            }
    .btabs {
        border: 1px solid #8DB2E3;
        font-size: 12px;
        height: 26px;
        list-style-type: none;
        margin: 0;
        padding:4px 0 0 4px;
        width: 99.5%;
        background-color: #E0ECFF;
    }
    </style>
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
